@import "tailwindcss";

@theme {
  --color-githubBg: #0d1117;
  --color-githubCard: #161b22;
  --color-githubBorder: #30363d;
  --color-githubPrimary: #2ea043;
  --color-githubTextPrimary: #c9d1d9;
  --color-githubTextSecondary: #8b949e;
}

@layer base {
  body {
    @apply bg-githubBg text-githubTextPrimary;
  }
}
